<template>
    <footer id="footer-7" class="page-footer font-small bg-padrao lighten-3 pt-4">
        <div class="container">
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <a href="#!" class="btn btn-outline-light">ENTRE EM CONTATO</a>
                </li>
            </ul>
        </div>
        <!-- Footer Elements -->
        <div class="footer-copyright text-center py-3">
            © 2019 Copyright:
            <a href="#"> OTAVIO RENAN. Todos os direitos reservados</a>
        </div>
        <!-- Copyright -->
    </footer><!-- Footer -->
</template>

<script>
    export default {

    }
</script>

<style>
    #footer-7 div{
        color: #FFFFFF;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: bold;
    }

    #footer-7 div a{
        color: #FFFFFF;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: bold;
    }
</style>
