<template>
    <div class="dp-footer" id="footer-1">
        <footer class="font-small pt-4 bg-secundario">
            <div class="container">
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-4 col-sm-12 text-light">
                        <div class="row">
                            <div class="">
                                <p class="font-weight-bold">
                                    CONTATO
                                    <i class="fas fa-tty fa-2x"></i>
                                </p>
                            </div><!--"" -->
                        </div><!--row -->
                        <div class="row">
                            <p class="">
                                <span>TELEFONE: (77) 3656-2156</span><br>
                                <span>EMAIL: pmbrejolandia@acimacontabilidade.com.br</span><br>
                            </p>
                        </div><!--row -->
                    </div><!-- col-md-4 -->
                    <div class="col-md-4 col-sm-12 text-light">
                        <div class="row">
                            <div class="">
                                <p class="font-weight-bold">
                                    ENDEREÇO
                                    <i class="fas fa-compass fa-2x"></i>
                                </p>
                            </div><!--"" -->
                        </div><!--row -->
                        <div class="row">
                            <p class="">
                                <span>PRAÇA ALPINIANO JOSÉ ALVES, Nº 11, BREJOLÂNDIA</span><br>
                                <span>CEP: 47750-000</span><br>
                                <span>CNPJ: 13.654.439/0001-80</span><br>
                            </p>
                        </div><!--row -->
                    </div><!-- col-md-4 -->
                    <div class="col-md-1"></div>
                    <div class="col-md-3 col-sm-12 text-light">
                        <div class="row">
                            <div class="">
                                <p class="font-weight-bold">
                                    HORÁRIO DE FUNCIONAMENTO
                                    <i class="fas fa-business-time fa-2x"></i>
                                </p>
                            </div><!--"" -->
                        </div><!--row -->
                        <div class="row">
                            <p class="">
                                <span>SEGUNDA-FEIRA À QUINTA-FEIRA</span><br>
                                <span>08:00H ÁS 17:00H</span><br>
                                <span>SEXTA-FEIRA 08:00H ÁS 12:00H</span><br>
                            </p>
                        </div><!--row -->
                    </div><!-- col-md-4 -->
                </div><!-- Grid row -->
            </div><br>
        </footer>
        <footer class="font-small pt-4 bg-padrao text-center text-light">
            <p>Copyright © 2019 - Prefeitura Municipal de Brejolândia. Todos os direitos reservados.</p><br>
        </footer>
    </div>
</template>

<script>
    export default {

    }
</script>

<style>
     #footer-1 .bg-secundario{
        background-color: #00AFC3;
    }
</style>
