<template>
    <footer id="footer-6" class="page-footer font-small bg-padrao lighten-3 pt-4">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <a class="" href="#carouselExampleFade" role="button" data-slide="prev">
                    <i class="fas fa-angle-left fa-3x pr-3"></i>
                </a>
                <a class="" href="#carouselExampleFade" role="button" data-slide="next">
                    <i class="fas fa-angle-right fa-3x pl-3"></i>
                </a>
            </div> <br>
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">
                            </div>
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">
                            </div>
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">
                            </div>
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">
                            </div>
                        </div>
                    </div><!-- carousel-item  -->
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).jpg">
                            </div>
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(83).jpg">
                            </div>
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">
                            </div>
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(85).jpg">
                            </div>
                        </div>
                    </div><!-- carousel-item  -->
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).jpg">
                            </div>
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(86).jpg">
                            </div>
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">
                            </div>
                            <div class="col-md-3">
                                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(85).jpg">
                            </div>
                        </div>
                    </div><!-- carousel-item  -->
                </div><!-- carousel-inner  -->
            </div>
        </div><!-- container -->
        <div class="footer-copyright text-center py-3">
            © 2019 Copyright:
            <a href="#"> OTAVIO RENAN. Todos os direitos reservados</a>
        </div>
        <!-- Copyright -->
    </footer><!-- Footer -->
</template>

<script>
    export default {

    }
</script>

<style>
    #footer-6 div{
        color: #FFFFFF;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: bold;
    }

    #footer-6 div a{
        color: #FFFFFF;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: bold;
    }

    #footer-6 div div div div img{
        max-height: 200px;
    }
</style>
