<<template>
    <div id="banner-5">                    
        <div id="carousel-banner-5" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="mw-100" src="imagens/banner/banner-1.jpg" alt="Município de Brejolândia">
                </div> 
                <div class="carousel-item">
                    <img class="mw-100" src="imagens/banner/banner-2.jpg" alt="Município de Brejolândia">
                </div>
                <div class="carousel-item">
                    <img class="mw-100" src="imagens/banner/banner-3.jpg" alt="Município de Brejolândia">
                </div>
            </div><!-- carousel-inner -->
            <a class="carousel-control-prev" href="#carousel-banner-5" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-banner-5" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!--Carousel Wrapper-->
    </div><!--banner-->        
</template>

<script>
    export default {

    }
</script>

<style>
    #banner-5 div ol li{
        width: .625rem;
        height: .625rem;
        border-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        cursor: pointer;
    }

    #banner-5 div div img{
        max-width: 100%;      
        width: 100%;   
    }
</style>
