<<template>
     <div id="banner-3">
        <div id="video-carousel-banner-3" class="carousel slide carousel-fade" data-ride="carousel">                
            <ol class="carousel-indicators">
                <li data-target="#video-carousel-banner-3" data-slide-to="0" class="active"></li>
                <li data-target="#video-carousel-banner-3" data-slide-to="1"></li>
                <li data-target="#video-carousel-banner-3" data-slide-to="2"></li>
            </ol><!-- carousel-indicators -->
            <div class="carousel-inner" role="listbox">               
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(105).jpg" alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">This is the first title</h3>
                        <p>First text</p>
                    </div>
                </div>
                <div class="carousel-item">                        
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(115).jpg" alt="Second slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Thir is the second title</h3>
                        <p>Secondary text</p>
                    </div>
                </div>
                <div class="carousel-item">                        
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(108).jpg" alt="Third slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">This is the third title</h3>
                        <p>Third text</p>
                    </div>  
                </div>  
            </div><!-- carousel-inner -->
            <a class="carousel-control-prev" href="#video-carousel-banner-3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#video-carousel-banner-3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!--Carousel Wrapper-->
    </div><!-- banner-4 --> 
</template>

<script>
    export default {

    }
</script>

<style>
    #banner-3 div ol li{
        width: .625rem;
        height: .625rem;
        border-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        cursor: pointer;
    }    
    #banner-3 .carousel-item{
        max-height: 300px;        
    }
</style>
