<<template>
    <div id="banner-4">
        <img class="mw-100" src="imagens/banner/banner-3.jpg" alt="Município de Brejolândia">
    </div>
</template>

<script>
    export default {

    }
</script>

<style>
    #banner-4 img{
        width: 100%;        
    }
</style>
