<<template>
    <div id="maps-1" class="container">
        <div class="card">
            <div class="row d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249328.6534336113!2d-43.854337413608334!3d-12.465683542534403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x75dd95555555555%3A0x2237e7a53b465693!2sPrefeitura%20Municipal%20de%20Brejol%C3%A2ndia!5e0!3m2!1spt-BR!2sbr!4v1571423327651!5m2!1spt-BR!2sbr" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</template>

<script>    
    export default {
        
    }
</script>

<style>
    #maps-1 .row{
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    #maps-1 {
        padding-top: 2.5%;
        padding-bottom: 5%;
    }

    #maps-1 .card iframe{
        width: 90%;
        border: 0;
    }
</style>>