<<template>
    <div id="noticia-4" class="container">
        <div class="row">
            <!-- Modal -->
            <div class="modal fade" id="modalNoticias-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">                
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content card">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" @click="clearNoticia()">
                                <span aria-hidden="true">&times;</span>
                            </button>                                
                        </div>
                        <div class="modal-header d-flex justify-content-center">
                            <div id="carouselNoticiasPopoup" class="carousel slide" data-ride="carousel">                                
                                <div class="carousel-inner">
                                    <div v-for="(im, index) in noticia.url_imagens" :class="{active: index == 0}" class="carousel-item">
                                        <figure>
                                            <a :href="im.url_imagem" target="_blank">
                                                <img :src="im.url_imagem" class="card-img-top">
                                            </a>
                                        </figure>
                                    </div>                                    
                                </div>
                                <a class="carousel-control-prev" href="#carouselNoticiasPopoup" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselNoticiasPopoup" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div><!-- modal-header -->
                        <div class="card-body">
                            <h5 class="card-title text-justify">{{noticia.nome}}</h5>
                            <div class="d-flex justify-content-end">
                                <p class="cor-texto-padrao font-weight-bold">{{noticia.data}}</p>
                            </div>
                            <div class="card-body">                                 
                                <p class="card-text text-justify">{{noticia.texto}}</p>
                            </div>   
                        </div>                        
                        <div class="modal-footer">
                            <button type="button" class="btn bg-padrao" data-dismiss="modal" @click="clearNoticia()">FECHAR</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div><!-- modal fade -->
        </div><!-- row -->

        <div class="row">            
            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-12" v-for="n in noticias">
                <div class="d-flex justify-content-center zoom">
                    <img class="rounded-circle" v-if="n.url_imagens[0]" :src="n.url_imagens[0].url_imagem" width="140" height="140">
                </div><br>
                <a href="#" data-toggle="modal" data-target="#modalNoticias-4"  @click="findNoticia(n.id)">
                    <p class="h4 text-uppercase text-center text-body">{{n.nome}}</p>
                    <p class="text-justify text-body">{{n.texto_resumido}}</p>                
                </a>
            </div><!-- /.col-lg-4 -->            
        </div><!-- /row -->
    </div><!-- /container -->
</template>

<script>
    export default {
        data(){
            return{
                noticias: [],
                noticia: [],
            }
        },

        mounted(){
            this.getNoticias();
        },

        methods:{
            clearNoticia: function(){
                this.noticia = [];
            },

            getNoticias: function(){
                axios.get('/api/restrito/noticias6')                           
                .then(response => {
                    this.noticias = response.data                    
                })
                .catch(error => {
                    alert(error);
                    console.log(error);                
                });
            },

            findNoticia: function($id){
                let $url = '/api/restrito/noticia/' + $id;
                axios.get($url)
                .then(response => {
                    this.noticia = response.data                    
                })
                .catch(error => {
                    alert(error);
                    console.log(error);                
                });
            }
        },
    }
</script>

<style>
    #noticia-4 .zoom{
        overflow: hidden;
    }

    #noticia-4 .zoom img{
        max-width: 100%;
        -moz-transition: all 0.1s;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
    }

    #noticia-4 .zoom:hover img{
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    #noticia-4 .row div{
        padding: 2%;
    }

    #noticia-4 #carouselNoticiasPopoup div div figure a img{
        height: 300px;
        width: auto;
    }

    #noticia-4 #carouselNoticiasPopoup div div figure a:hover img{        
        opacity: 0.9;
        transition: opacity .1s;
        transition-property: opacity;
        transition-duration: 0.1s;
        transition-timing-function: ease;
        transition-delay: 0s;
        cursor: zoom-in;
    }
</style>