<<template>
    <div id="noticia-2" class="container">
        <div class="row">
            <!-- Modal -->
            <div class="modal fade" id="modalNoticias-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">                
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content card">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" @click="clearNoticia()">
                                <span aria-hidden="true">&times;</span>
                            </button>                                
                        </div>
                        <div class="modal-header d-flex justify-content-center">
                            <div id="carouselNoticiasPopoup" class="carousel slide" data-ride="carousel">                                
                                <div class="carousel-inner">
                                    <div v-for="(im, index) in noticia.url_imagens" :class="{active: index == 0}" class="carousel-item">
                                        <figure>
                                            <a :href="im.url_imagem" target="_blank">
                                                <img :src="im.url_imagem" class="card-img-top">
                                            </a>
                                        </figure>
                                    </div>                                    
                                </div>
                                <a class="carousel-control-prev" href="#carouselNoticiasPopoup" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselNoticiasPopoup" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div><!-- modal-header -->
                        <div class="card-body">
                            <h5 class="card-title text-justify">{{noticia.nome}}</h5>
                            <div class="d-flex justify-content-end">
                                <p class="cor-texto-padrao font-weight-bold">{{noticia.data}}</p>
                            </div>
                            <div class="card-body">                                 
                                <p class="card-text text-justify">{{noticia.texto}}</p>
                            </div>   
                        </div>                        
                        <div class="modal-footer">
                            <button type="button" class="btn bg-padrao" data-dismiss="modal" @click="clearNoticia()">FECHAR</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div><!-- modal fade -->
        </div><!-- row -->

        <div class="row d-flex justify-content-center">            
            <div class="col-md-8 col-xl-8 col-lg-8">
                <div v-for="n in noticias" class=" card">
                    <a href="#" data-toggle="modal" data-target="#modalNoticias-2" @click="findNoticia(n.id)">
                        <span class="cor-texto-padrao font-weight-bold">{{n.data}}</span> - <span class="text-body">{{n.texto_resumido}}</span>
                    </a>
                </div><!-- card --->
            </div><!-- col-md-12 --->
        </div><!-- row --->
    </div><!-- container --->
</template>

<script>
    export default {
        data(){
            return{
                noticias: [],
                noticia: [],
            }
        },

        mounted(){
            this.getNoticias();
        },

        methods:{
            clearNoticia: function(){
                this.noticia = [];
            },

            getNoticias: function(){
                axios.get('/api/restrito/noticias6')                           
                .then(response => {
                    this.noticias = response.data                    
                })
                .catch(error => {
                    alert(error);
                    console.log(error);                
                });
            },

            findNoticia: function($id){
                let $url = '/api/restrito/noticia/' + $id;
                axios.get($url)
                .then(response => {
                    this.noticia = response.data                    
                })
                .catch(error => {
                    alert(error);
                    console.log(error);                
                });
            }
        },
    }
</script>

<style>
    #noticia-2 #carouselNoticiasPopoup div div figure a img{
        height: 300px;
        width: auto;
    }

    #noticia-2 #carouselNoticiasPopoup div div figure a:hover img{        
        opacity: 0.9;
        transition: opacity .1s;
        transition-property: opacity;
        transition-duration: 0.1s;
        transition-timing-function: ease;
        transition-delay: 0s;
        cursor: zoom-in;
    }
</style>
