<<template>
    <div id="noticia-3" class="container">
        <div class="card">
            <div class="row">
                <!-- Modal -->
                <div class="modal fade" id="modalNoticias-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">                
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content card">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" @click="clearNoticia()">
                                    <span aria-hidden="true">&times;</span>
                                </button>                                
                            </div>
                            <div class="modal-header d-flex justify-content-center">
                                <div id="carouselNoticiasPopoup" class="carousel slide" data-ride="carousel">                                
                                    <div class="carousel-inner">
                                        <div v-for="(im, index) in noticia.url_imagens" :class="{active: index == 0}" class="carousel-item">
                                            <figure>
                                                <a :href="'storage/' + im.url_imagem" target="_blank">
                                                    <img :src="'storage/' + im.url_imagem" class="card-img-top">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselNoticiasPopoup" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselNoticiasPopoup" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div><!-- modal-header -->
                            <div class="card-body">
                                <h5 class="card-title text-justify">{{noticia.nome}}</h5>
                                <div class="d-flex justify-content-end">
                                    <p class="cor-texto-padrao font-weight-bold">{{noticia.data}}</p>
                                </div>
                                <div class="card-body">                                 
                                    <p class="card-text text-justify">{{noticia.texto}}</p>
                                </div>   
                            </div>                        
                            <div class="modal-footer">
                                <button type="button" class="btn bg-padrao" data-dismiss="modal" @click="clearNoticia()">FECHAR</button>
                            </div>
                        </div><!-- modal-content -->
                    </div><!-- modal-dialog -->
                </div><!-- modal fade -->
            </div><!-- row -->

            <div class="row vue-pd">
                <div class="col-md-12 col-xs-12 col-12 d-flex justify-content-center">
                    <div class="text-center">
                        <span class="cor-texto-padrao tx-noticia">NOTÍCIAS</span>
                    </div><!-- text-center -->
                </div><!-- col-md-12 col-xs-12 col-12 -->
            </div><!-- row -->
            
            <div class="row">            
                <div class="col-md-12 col-xl-8 col-lg-8">
                    <div id="carouselNoticia-3" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselNoticia-3" v-for="(n, index) in noticias"  :data-slide-to="index" :class="{active: index == 0}"></li>
                        </ol><!-- carousel-indicators -->
                        <div class="carousel-inner">
                            <div class="carousel-item zoom" v-for="(n, index) in noticias" :class="{active: index == 0}">
                                <a href="#" data-toggle="modal" data-target="#modalNoticias-3" @click="findNoticia(n.id)">
                                    <img v-if="n.url_imagens[0]" :src="'storage/' + n.url_imagens[0].url_imagem" class="card-img-top">
                                    <img v-else src="imagens/banner/banner-6.jpg" class="card-img-top">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{n.nome}}</h5>
                                        <p>{{n.texto_resumido}}</p>
                                    </div>
                                </a>
                            </div>                        
                        </div>
                        <a class="carousel-control-prev" href="#carouselNoticia-3" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselNoticia-3" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Próximo</span>
                        </a>
                    </div>
                </div><!-- col-md-8 --->            
                <div class="col-md-12 col-xl-4 col-lg-4">
                    <div v-for="n in news" class=" card">
                        <a href="#" data-toggle="modal" data-target="#modalNoticias-3" @click="findNoticia(n.id)">
                            <p class="cor-texto-padrao font-weight-bold">{{n.data}}</p>                                                     
                            <p class="text-body">{{n.texto_resumido}}</p>
                        </a>
                    </div><!-- card --->
                </div><!-- col-md-8 --->

                <div class="col-xl-12">                
                    <div class="pb-3 d-flex justify-content-end">                
                        <a href="/noticia" class="btn bg-padrao text-light" >VER MAIS</a>
                    </div><!-- pb-3 d-flex justify-content-end -->
                </div><!-- col-md-4 col-xs-12 mb-5 -->
            </div><!-- row --->
        </div><!-- card --->
    </div><!-- container --->
</template>

<script>
    export default {
        data(){
            return{
                noticias: [],
                noticia: [],
                news: [],
            }
        },

        mounted(){
            this.getNoticias();
            this.getNews();
        },

        methods:{
            clearNoticia: function(){
                this.noticia = [];
            },

            getNoticias: function(){
                axios.get('/api/restrito/noticias6')                           
                .then(response => {
                    this.noticias = response.data                    
                })
                .catch(error => {
                    alert(error);
                    console.log(error);                
                });
            },

            getNews: function(){
                axios.get('/api/restrito/noticias4')
                .then(response => {
                    this.news = response.data                    
                })
                .catch(error => {
                    alert(error);
                    console.log(error);                
                });
            },

            findNoticia: function($id){
                let $url = '/api/restrito/noticia/' + $id;
                axios.get($url)
                .then(response => {
                    this.noticia = response.data                    
                })
                .catch(error => {
                    alert(error);
                    console.log(error);                
                });
            }
        },
    }
</script>

<style>

    
    #noticia-3{
        padding-top: 2.5%;
        padding-bottom: 2.5%;    
    }

    #noticia-3 .tx-noticia{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;        
        font-weight: bold;
    } 

    #noticia-3 .card .row{
        padding-left: 3%;
        padding-right: 3%;
    }

    #noticia-3 .vue-pd{
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #noticia-3 #carouselNoticia-3 ol li{
        width: .625rem;
        height: .625rem;
        border-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        cursor: pointer;
    }   

    #noticia-3 .zoom {
        overflow: hidden;
    }

    #noticia-3 .zoom img {
        max-width: 100%;
        -moz-transition: all 0.1s;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
    }

    #noticia-3 .zoom:hover img {
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    #noticia-3 #carouselNoticiasPopoup div div figure a img{
        height: 300px;
        width: auto;
    }

    #noticia-3 #carouselNoticiasPopoup div div figure a:hover img{        
        opacity: 0.9;
        transition: opacity .1s;
        transition-property: opacity;
        transition-duration: 0.1s;
        transition-timing-function: ease;
        transition-delay: 0s;
        cursor: zoom-in;
    }
</style>
