<<template>
    <div id="noticia-6" class="container">
        <div class="card">
            <!-- Modal -->
            <div class="modal fade" id="modalNoticias-6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">                
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content card">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" @click="clearNoticia()">
                                <span aria-hidden="true">&times;</span>
                            </button>                                
                        </div>
                        <div class="modal-header d-flex justify-content-center">
                            <div id="carouselNoticiasPopoup" class="carousel slide" data-ride="carousel">                                
                                <div class="carousel-inner">
                                    <div v-for="(im, index) in noticia.url_imagens" :class="{active: index == 0}" class="carousel-item">
                                        <figure>
                                            <a :href="'storage/' + im.url_imagem" target="_blank">
                                                <img :src="'storage/' + im.url_imagem" class="card-img-top">
                                            </a>
                                        </figure>
                                    </div>                                    
                                </div>
                                <a class="carousel-control-prev" href="#carouselNoticiasPopoup" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselNoticiasPopoup" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div><!-- modal-header -->
                        <div class="card-body">
                            <h5 class="card-title text-justify">{{noticia.nome}}</h5>
                            <div class="d-flex justify-content-end">
                                <p class="cor-texto-padrao font-weight-bold">{{noticia.data}}</p>
                            </div>
                            <div class="card-body">                                 
                                <p class="card-text text-justify font-weight-bold">{{noticia.texto}}</p>
                            </div>   
                        </div>                        
                        <div class="modal-footer">
                            <button type="button" class="btn bg-padrao" data-dismiss="modal" @click="clearNoticia()">FECHAR</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div><!-- modal fade -->            

            <div class="row vue-pd">
                <div class="col-md-12 col-xs-12 col-12 d-flex justify-content-center">
                    <div class="text-center">
                        <span class="cor-texto-padrao tx-noticia">NOTÍCIAS</span>
                    </div><!-- text-center -->
                </div><!-- col-md-12 col-xs-12 col-12 -->
            </div><!-- row -->

            <div class="row">            
                <div class="col-md-4 col-xs-12 mb-5" v-for="n in noticias">                
                    <a href="#" data-toggle="modal" data-target="#modalNoticias-6" @click="findNoticia(n.id)">
                        <div class="thumb zoom d-flex justify-content-center">
                            <img class="img-fluid mx-auto" v-if="n.url_imagens[0]" :src="'storage/' + n.url_imagens[0].url_imagem">
                            <img class="img-fluid mx-auto" v-else src="imagens/banner/banner-1.jpg">
                        </div><br>
                        <p class="h5 text-uppercase text-center text-body">{{n.nome}}</p>                            
                        <p class="text-justify text-body">
                            {{n.texto_resumido}} 
                        </p>														
                    </a>                
                </div><!-- col-md-4 col-xs-12 mb-5 -->
          
                <div class="col-xl-12">                
                    <div class="pb-3 d-flex justify-content-end">                
                        <a href="/noticia" class="btn bg-padrao text-light" >VER MAIS</a>
                    </div><!-- pb-3 d-flex justify-content-end -->
                </div><!-- col-md-4 col-xs-12 mb-5 -->
            </div><!-- row -->
        </div><!-- card -->
    </div><!-- container -->
</template>

<script>
    export default {
        data(){
            return{
                noticias: [],
                noticia: [],
                prev: [],
                prox: [],
            }
        },

        mounted(){
            this.getNoticias();
            //this.getTempo();
            this.getCorPadrao();
        },

        methods:{
            clearNoticia: function(){
                this.noticia = [];
            },

            getCorPadrao: function(){
                axios.get('/api/restrito/corpadrao')
                .then(response => {
                    var style = document.createElement('style');
                    style.type = 'text/css';
                    style.innerHTML = '#noticia-6 .weather .current {text-shadow: 1px 1px' +  response.data + '; }' +
                                        '#noticia-6 .weather .future .day:hover {background-color:' + response.data + '; }';
                    document.getElementsByTagName('head')[0].appendChild(style);
                })
                .catch(error => {
                    alert(error);
                    console.log(response.data)
                    console.log(error)
                });
            },

            getTempo: function(){
                axios.get('/api/restrito/previsao')
                .then(response => {
                    this.prev = response.data
                    this.prox = response.data["forecast"]                    
                })
                .catch(error => {                
                    console.log(response.data)
                    console.log(error)
                }); 
            },

            getNoticias: function(){
                axios.get('/api/restrito/noticias6')                           
                .then(response => {
                    this.noticias = response.data                    
                })
                .catch(error => {
                    alert(error);
                    console.log(error);                
                });
            },

            findNoticia: function($id){
                let $url = '/api/restrito/noticia/' + $id;
                axios.get($url)
                .then(response => {
                    this.noticia = response.data                    
                })
                .catch(error => {
                    alert(error);
                    console.log(error);                
                });
            }
        },
    }
</script>

<style>

    #noticia-6{
        padding-top: 2.5%;
        padding-bottom: 2.5%;    
    }

    #noticia-6 .tx-noticia{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;        
        font-weight: bold;
    } 

    #noticia-6 .card .row{
        padding-left: 3%;
        padding-right: 3%;
    }

    #noticia-6 .vue-pd{
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #noticia-6 .zoom {
        overflow: hidden;
    }

    #noticia-6 .zoom img {
        max-width: 100%;
        -moz-transition: all 0.1s;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
    }

    #noticia-6 .zoom:hover img {
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    #noticia-6 #carouselNoticiasPopoup div div figure a img{
        height: 300px;
        width: auto;
    }

    #noticia-6 .zoom img{
        height: 200px;
        width: auto;
    }

    #noticia-6 #carouselNoticiasPopoup div div figure a:hover img{        
        opacity: 0.9;
        transition: opacity .1s;
        transition-property: opacity;
        transition-duration: 0.1s;
        transition-timing-function: ease;
        transition-delay: 0s;
        cursor: zoom-in;
    }

    /*PREVISÃO*/
    #noticia-6 .row .card{
        padding-top: 2%
    }    

    #noticia-6 .weather{
        display: flex;
        flex-flow: column wrap;
        box-shadow: 0px 1px 10px 0px #F8F8FF ;
        overflow: hidden;
    }

    #noticia-6 .weather .future .day:hover{
        color: #F8F8FF ;
        
    }

    #noticia-6 .weather .current .info{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;    
        opacity:1;
    }

    #noticia-6 .weather .current{
        background-size: cover;
        background-position: center;
        display: flex;
        flex-flow: row wrap;
        background-repeat: no-repeat;
        color: #F8F8FF;
        padding: 20px;
        opacity: 0.89;        
    }

    #noticia-6 .weather .current .info p{
        margin-right: 0;
        margin-left: 0; 
        margin-top: 0;
        margin-bottom: 0;       
        padding-right: 0;
        padding-left: 0; 
        padding-top: 0;
        padding-bottom: 0;  
    }

    #noticia-6 .weather .current .info .city{
        font-size: 26px;        
    }

    #noticia-6 .weather .current .info .temp{
        font-size: 44px;        
    }

    #noticia-6 .weather .current .info .wind{
        font-size: 20px;        
    }

    #noticia-6 .weather .current .info .sunset{
        font-size: 18px;        
    }

    #noticia-6 .weather .current .info .description-1{
        font-size: 15px;        
    }

    #noticia-6 .weather .current .info .description-2{
        font-size: 10px;        
    }

    #noticia-6 .weather .current .icon{
        text-align: center;
        height: 100px;
        width: 10px;
        flex-grow: 1;        
    }

    #noticia-6 .weather .current .icon img{        
        max-width: 250px;        
        height: auto;
    }

    #noticia-6 .weather .future{
        display: flex;
        flex-flow: row nowrap;        
    }

    #noticia-6 .weather .future .day{
        flex-grow: 1;
        text-align: center;
        cursor: pointer;
    }

    #noticia-6 .weather .future .day p{
        font-size: 10px;
        padding-top: 20%;
    }
</style>

<!--
    <div class="col-md-4 col-xs-12 mb-5">
        <div id="carouselPrevisao-6" class="weather carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="current" style="background-image: url(../imagens/Banner/Banner-4.jpg)">
                        <div class="info">                            
                            <p class="city">{{prev.city}}</p>
                            <p class="temp">{{prev.temp}} ºC</p>
                            <p class="description-1">{{prev.description}}</p>
                            <p class="wind">Ventos:{{prev.wind_speedy}}</p>
                            <p class="sunset">Pôr do Sol: {{prev.sunset}}</p>                            
                        </div>
                        <div class="icon col">
                            <span class="wi-day-sunny mx-lg-n5 mx-xl-n5 mx-sm-n1">
                                <img v-if="prev.img_id" :src="'imagens/prev/' + prev.img_id + '.png'">
                            </span>
                        </div>
                    </div>                            
                </div>
                <div class="carousel-item" v-for="(px, index) in prox" v-if="index != 0">
                    <div class="current" style="background-image: url(../imagens/Banner/Banner-4.jpg)">
                        <div class="info">                            
                            <p class="city">{{prev.city}}</p>
                            <p class="temp">{{px.weekday}}</p>
                            <p class="description-2">{{px.description}}</p>                                    
                            <p class="wind">Max:{{px.max}}</p>
                            <p class="wind">Mix:{{px.max}}</p>                                    
                        </div>
                        <div class="icon d-md-none d-lg-block col">                                    
                            <img v-if="px.img_id" :src="'imagens/prev/' + px.img_id + '.png'">                                    
                        </div>
                    </div>    
                </div>
            </div>
            <div class="future">                        
                <a class="day active" data-target="#carouselPrevisao-6" data-slide-to="0">
                    <p class="font-weight-bold">Hoje</p>
                </a>
                <a class="day" v-for="(px, index) in prox" data-target="#carouselPrevisao-6" :data-slide-to="index" v-if="index != 0">
                    <p class="font-weight-bold">{{px.weekday}}</p>
                </a>
            </div>
        </div>
    </div><!-- col-md-4 col-xs-12 mb-5 -->
-->