<<template>
    <div id="galeria-1" class="container">    
        <div class="row">
            <figure class="col-md-4 zoom">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                            class="img-fluid">                            
                </a>
            </figure>
            <figure class="col-md-4 zoom">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(98).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg"
                            class="img-fluid" />
                </a>
            </figure>
            <figure class="col-md-4 zoom">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(131).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg"
                            class="img-fluid" />
                </a>
            </figure>
            <figure class="col-md-4 zoom">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
                            class="img-fluid" />
                </a>
            </figure>
            <figure class="col-md-4 zoom">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(118).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(118).jpg"
                            class="img-fluid" />
                </a>
            </figure>
            <figure class="col-md-4 zoom">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(128).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(128).jpg"
                            class="img-fluid" />
                </a>
            </figure>
            <figure class="col-md-4 zoom">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(132).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg"
                            class="img-fluid" />
                </a>
            </figure>
            <figure class="col-md-4 zoom">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(115).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(115).jpg"
                            class="img-fluid" />
                </a>
            </figure>
            <figure class="col-md-4 zoom">
                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(133).jpg" data-size="1600x1067">
                    <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(133).jpg"
                            class="img-fluid" />
                </a>
            </figure>
        </div><!-- row -->
    </div><!-- container -->
</template>

<script>
    export default {

    }
</script>

<style>
    #galeria-1 div figure a:focus img{
        outline: 5px solid #D3D3D3;
    }

    #galeria-1 div figure a:hover img{
        outline: 5px solid #D3D3D3;
        cursor: zoom-in;
        border-radius: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        opacity: 0.7;
        transition: opacity .4s;
        transition-property: opacity;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }

    #galeria-1 .zoom {
        overflow: hidden;
    }

    #galeria-1 .zoom img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    #galeria-1 .zoom:hover img {
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
</style>
