<<template>
    <div id="galeria-6" class="container">
        <div class="row">
            <div class="col-md-12">         
                <div class="row d-flex justify-content-center">
                    <a class="cor-texto-padrao" href="#carouselExampleFade" role="button" data-slide="prev">
                        <i class="fas fa-angle-left fa-3x pr-3"></i>
                    </a>
                    <a class="cor-texto-padrao" href="#carouselExampleFade" role="button" data-slide="next">
                        <i class="fas fa-angle-right fa-3x pl-3"></i>
                    </a>
                </div> <br>
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3">
                                    <figure class="zoom">
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>                                    
                                </div>
                                <div class="col-md-3">
                                    <figure class="zoom" >
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="zoom" >
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(83).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="zoom" >
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div><!-- carousel-item  -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <figure class="zoom" >
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(85).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="zoom" >
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(86).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="zoom" >
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(87).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="zoom" >
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(88).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div><!-- carousel-item  -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <figure class="zoom" >
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(89).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="zoom" >
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(90).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="zoom" >
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(91).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="zoom" >
                                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg">                                            
                                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(92).jpg"
                                            class="img-fluid" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div><!-- carousel-item  -->
                    </div><!-- carousel-inner  -->
                </div>
            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- container --> 
</template>

<script>
    export default {

    }
</script>

<style>
    #galeria-6 .col-md-12{
        padding-bottom: 3%;
    }

    #galeria-6 div div div a i:hover{
        color: #FF00;
        opacity: 0.5;
    }

    #galeria-6 figure a:focus img{
        outline: 5px solid #D3D3D3;
    }

    #galeria-6 figure a:hover img{
        outline: 5px solid #D3D3D3;
        cursor: zoom-in;
        border-radius: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        opacity: 0.7;
        transition: opacity .4s;
        transition-property: opacity;
        transition-duration: 0.4s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }

    #galeria-6 .zoom {
        overflow: hidden;
    }

    #galeria-6 .zoom img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    #galeria-6 .zoom:hover img {
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
</style>
