<<template>
    <div id="galeria-5" class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <figure>
                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg">
                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                                    class="img-fluid" width="1600">
                        </a>
                    </figure>
                </div>
                <figure class="col-xl-4 col-lg-4 col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(118).jpg">
                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                                class="img-fluid">
                    </a>
                </figure>
                <figure class="col-xl-4 col-lg-4 col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(119).jpg">
                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                                class="img-fluid">
                    </a>
                </figure>
                <figure class="col-xl-4 col-lg-4 col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(120).jpg">
                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                                class="img-fluid">
                    </a>
                </figure>
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <figure>
                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(121).jpg">
                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                                    class="img-fluid" width="1600">
                        </a>
                    </figure>
                </div>
                <figure class="col-xl-4 col-lg-4 col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(122).jpg">
                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                                class="img-fluid">
                    </a>
                </figure>
                <figure class="col-xl-4 col-lg-4 col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg">
                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                                class="img-fluid">
                    </a>
                </figure>
                <figure class="col-xl-4 col-lg-4 col-md-4">
                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(124).jpg">
                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                                class="img-fluid">
                    </a>
                </figure>
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <figure>
                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg">
                            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
                                    class="img-fluid" width="1600">
                        </a>
                    </figure>
                </div>
            </div><!-- row -->
        </div><!-- col-md-12 -->
    </div><!-- container --> 
</template>

<script>
    export default {

    }
</script>

<style>
    
</style>
