<<template>
    <div id="galeria-3" class="container">
        <div class="row">
            <div class="col-md-12">               
                <div id="video-carousel-galeria-3" class="carousel slide carousel-fade" data-ride="carousel">                
                    <ol class="carousel-indicators">
                        <li data-target="#video-carousel-galeria-3" data-slide-to="0" class="active"></li>
                        <li data-target="#video-carousel-galeria-3" data-slide-to="1"></li>
                        <li data-target="#video-carousel-galeria-3" data-slide-to="2"></li>
                    </ol><!-- carousel-indicators -->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <video class="video-fluid" autoplay loop muted>
                                <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div class="carousel-item">
                            <video class="video-fluid" autoplay loop muted>
                                <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div class="carousel-item">
                            <video class="video-fluid" autoplay loop muted>
                                <source src="https://mdbootstrap.com/img/video/Agua-natural.mp4" type="video/mp4" />
                            </video>
                        </div>
                    </div><!-- carousel-inner -->
                    <a class="carousel-control-prev" href="#video-carousel-galeria-3" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#video-carousel-galeria-3" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div><!--Carousel Wrapper-->                
            </div> <!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- container --> 
</template>

<script>
    export default {

    }
</script>

<style>
    #galeria-3 div div div ol li{
        width: .625rem;
        height: .625rem;
        border-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        cursor: pointer;
    }

    #galeria-3 div div div div div video{
        max-width: 100%;
        max-height: 70%;
    }
</style>
