<<template>
    <div id="card-5"class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                <div class="bg-padrao text-center img-thumbnail">
                    <a class="text-light" href="https://www.portaltransparencia.gov.br/localidades/2904407-brejolandia" target="_blank">
                        <span class="text-principal">Portal da Transparência</span><br>
                        <span>CONTROLADORIA-GERAL DA UNIÃO</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>

<style>

    #card-5{
        padding-top: 2.5%;
        padding-bottom: 2.5%;    
    }

    #card-5 .row .img-thumbnail:hover a{
        text-decoration: none;
    }

    #card-5 .text-principal{
        font-size: 2.9em;
        font-weight: 800;
        line-height: 1;
        margin-top: -6px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        font-family: sans-serif;
    }    
</style>>
