<<template>
    <div id="card-midias" class="container">
        <div class="card">
            <div class="row">
                <div class="col-12 col-md-12 col-xs-12 col-12 d-flex justify-content-center vue-pd">
                    <div class="text-center">
                        <span class="cor-texto-padrao tx-midias">MÍDIAS</span>
                    </div><!-- text-center -->
                </div><!-- col-md-12 col-xs-12 col-12 -->
            
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6">                
                    <div id="carouselVideos" class="carousel slide carousel-fade" data-ride="carousel">                        
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="mbed-responsive embed-responsive-16by9">
                                    <div class="d-flex justify-content-center">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qbRbMXdM3yo" scrolling="auto" frameborder="0" allowfullscreen></iframe>                                        
                                    </div> 
                                </div>
                            </div>                            
                        </div>
                        <a class="carousel-control-prev" href="#carouselVideos" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselVideos" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div><br><!-- col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6-->
                <div id="facebook" class="col-md-6 col-lg-6 col-lx-6">
                    <div class="d-flex justify-content-center">
                        <iframe :src="url_facebook" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </div>            
                </div><!--d-flex justify-content-end-->
            </div><!--row-->
        </div><!--card-->
    </div><!-- container -->
</template>

<script>
    export default {
        data(){
            return {
                url_facebook: '',
            }
        },

        mounted(){
            this.getUrlFacebook();            
        },

        methods:{
            getUrlFacebook: function(){                
                axios.get('/api/restrito/facebook')
                .then(response => {
                    this.url_facebook = 'https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F' + response.data[0].url + '/&tabs=timeline&width=700&height=320&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId';                                        
                })
                .catch(error => {
                    alert(error);
                    console.log(error)
                }); 
            }            
        }
    }
</script>

<style>

    #card-midias{
        padding-top: 2.5%;
        padding-bottom: 2.5%;    
    }

    #card-midias .card .row{        
        padding-bottom: 3%;    
    }

    #card-midias #facebook iframe{
        width: 500px;
        height: 300px;
        border: none;
        overflow: hidden;
    }
   
    #card-midias .mbed-responsive iframe{
        width: 500px;
        height: 303px;
        border: none;
        overflow: hidden;
    }

    #card-midias .vue-pd{
        padding-top: 3%;
        padding-bottom: 3%;    
    }

    #card-midias .tx-midias{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;        
        font-weight: bold;
    } 
</style>
