<<template>    
    <div id="card-municipio" class="container">
        <div class="card">
            <div class="row" v-for="m in municipio">
                <div class="col-md-12 text-center pb-5">
                    <span class="tx-municipio cor-texto-padrao">{{m.nome}}</span>
                </div><br/>
                <div class="col-md-12">
                    <div v-if="m.url_imagem">
                        <img class="rounded img-fluid float-left pull-left mr-2" :src="'storage/' + m.url_imagem" height="400px" width="500px">
                    </div>
                    <div v-else>
                        <img class="rounded img-fluid float-left pull-left mr-2" src="imagens/banner/banner-1.jpg" height="400px" width="500px">
                    </div>
                    <div class="">
                        <h5>{{m.descricao}}</h5>
                        <p class="text-justify">{{m.texto}}</p>
                    </div>                    
                </div>
            </div><!-- row -->
        </div><!-- card -->
    </div><!-- container -->        
</template>

<script>
    export default {
        data(){
            return{
                municipio: [],                
            }
        },        

        mounted() {            
            this.getMunicipio();                  
        },

        methods:{
            getMunicipio: function(){
                axios.get('/api/restrito/municipio')
                .then(response => {
                    this.municipio = response.data                
                })
                .catch(error => {
                    alert(error);
                    console.log(error)
                }); 
            },            
        }  
    }
</script>

<style>
    #card-municipio{
        padding-top: 7%;
        padding-bottom: 5%;
    }

    #card-municipio .tx-municipio{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;        
        font-weight: bold;
    }

    #card-municipio .card .row{
        padding : 3%;
    }
</style>