<<template>
    <div id="card-4" class="container">
        <div class="row d-flex justify-content-center">            
            <div class="col-11 col-md-4 col-sm-12 cor-texto-padrao card" v-for="c in contatos">
                <div class="row">                    
                    <p class="font-weight-bold">
                        <i class="far fa-address-book fa-2x"></i>                             
                        CONTATO
                    </p>                    
                </div><!--row -->
                <div class="row d-flex justify-content-between">                    
                    <div>
                        <span>{{c.nome}}</span>                  
                    </div>
                    <div>
                        <span>{{c.numero}}</span>                    
                    </div>                                
                </div><!--row -->
            </div><!-- col-md-4 -->        
            <div class="col-11 col-md-4 col-sm-12 cor-texto-padrao card" v-if="estruturas" v-for="e in estruturas">
                <div class="row">                    
                    <p class="font-weight-bold">
                        <i class="far fa-address-book fa-2x"></i>                             
                        CONTATO
                    </p>                    
                </div><!--row -->
                <div class="row d-flex justify-content-between">                    
                    <div>
                        <span>{{e.nome}}</span>                  
                    </div>
                    <div>
                        <span>{{e.telefone}}</span>                    
                    </div>                                
                </div><!--row -->
            </div><!-- col-md-4 -->                          

            <div class="col-11 col-md-4 col-sm-12 cor-texto-padrao card" v-if="unidades" v-for="u in unidades">
                <div class="row">
                    <p class="font-weight-bold">
                        <i class="far fa-address-book fa-2x"></i>                             
                        CONTATO
                    </p>                    
                </div><!--row -->
                <div class="row d-flex justify-content-between">                    
                    <div>
                        <span>{{u.nome}}</span>                  
                    </div>
                    <div>
                        <span>{{u.telefone}}</span>                    
                    </div>                                
                </div><!--row -->
            </div><!-- col-md-4 -->              
        </div><!-- row -->
    </div><!-- container -->    
</template>

<script>
    export default {
        data(){
            return {
                contatos: [],
                estruturas: [],
                unidades: [],
            }
        },

        mounted(){
            this.getContatos();
            this.getEstrutura();
            this.getUnidade();
        },

        methods:{
            getContatos: function(){
                axios.get('/api/restrito/contato')
                .then(response => {
                    this.contatos = response.data                
                })
                .catch(error => {
                    alert(error);
                    console.log(error);
                });  
            },
            getEstrutura: function(){
                axios.get('/api/restrito/estruturaadministrativa')
                .then(response => {
                    this.estruturas = response.data;                    
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                });
            },
            getUnidade: function(){
                axios.get('/api/restrito/unidadeadministrativa')
                .then(response => {
                    this.unidades = response.data;
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                });
            },
        },
    }
</script>

<style>

    #card-4{
        padding-top: 7%;
        padding-bottom: 7%;
    }

    #card-4 .row .card{
        padding: 2%;
        padding-left: 2%;
    }

    #card-4 .row .card p{
        padding-bottom: 2%;
    }

    #card-4 .row .card:hover{
        background-color:gainsboro;
        cursor:text;
    }
</style>>