<<template>
    <div id="card-2" class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 text-center text-light">
                <a href="https://www.tcm.ba.gov.br/municipio-post/brejolandia" target="_blank">
                    <div class="img-thumbnail bg-padrao">
                        <img src="imagens/logos/logo-tcm-2.png" class="img-direcional" alt="Tribunal de Contas Municipal do Estdao da Bahia">
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center text-light -->  

            <div class="col-xl-4 col-lg-4 col-md-4 text-center text-light">
                <a href="/esic" target="_blank">
                    <div class="img-thumbnail bg-padrao">
                        <img src="imagens/logos/logo-esic.png" class="img-direcional" alt="Sistema Eletrônico do Serviço de Informações ao Cidadão">
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center text-light -->  
        
        <div class="col-xl-4 col-lg-4 col-md-4 text-center text-light">
                <a href="https://cidades.ibge.gov.br/brasil/ba/brejolandia/panorama" target="_blank">
                    <div class="img-thumbnail bg-padrao">
                        <img src="imagens/logos/logo-ibge.png" class="img-direcional" alt="Instituto Brasileiro de Geografia">
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center text-light -->  
        </div><!-- row -->  
    </div><!-- container -->    
</template>
<script>
    export default {
        
    }
</script>
<style>
    #card-2{
        padding-top: 2.5%;
        padding-bottom: 2.5%;    
    }
    #card-2 .img-thumbnail img{
        height: 150px;
        width: auto;
    }   
</style>