<<template>
    <div id="card-gestao" class="container">
        <div class="card">
            <div class="row" v-for="p in prefeito">
                <div class="col-md-12 text-center">
                    <span class="tx-gestao cor-texto-padrao">{{p.nome}}</span>
                </div>
                <div class="col-md-12">
                    <div v-if="p.url_imagem">
                        <img class="rounded img-fluid float-left pull-left mr-2" :src="'storage/' + p.url_imagem" height="400px" width="500px">
                    </div>
                    <div v-else>
                        <img class="rounded img-fluid float-left pull-left mr-2" src="imagens/banner/banner-1.jpg" height="400px" width="500px">
                    </div>
                    <div class="">
                        <h5>{{p.descricao}}</h5>
                        <p class="text-justify">{{p.texto}}</p>
                    </div>
                </div>
            </div><!-- row --><br>
        </div><!-- card --><br>

        <div class="card">
            <div class="row" v-for="vp in vice">
                <div class="col-md-12 text-center">
                    <span class="tx-gestao cor-texto-padrao">{{vp.nome}}</span>
                </div><br/>
                <div class="col-md-12">
                    <div v-if="vp.url_imagem">
                        <img class="rounded img-fluid float-left pull-left mr-2" :src="'storage/' + vp.url_imagem" height="400px" width="500px">
                    </div>                  
                    <div v-else>
                        <img class="rounded img-fluid float-left pull-left mr-2" src="imagens/banner/banner-1.jpg" height="400px" width="500px">
                    </div>  
                    <div class="">
                        <h5>{{vp.descricao}}</h5>
                        <p class="text-justify">{{vp.texto}}</p>
                    </div>
                </div>
            </div><!-- row -->
        </div><!-- card -->
    </div><!-- container -->        
</template>

<script>
    export default {
        data(){
            return{
                prefeito: [],
                vice: []
            }
        },        

        mounted() {                  
            this.getPrefeito();
            this.getVicePrefeito();            
        }, 

        methods:{
            getPrefeito: function(){
                axios.get('/api/restrito/prefeito')
                .then(response => {
                    this.prefeito = response.data                
                })
                .catch(error => {
                    alert(error);
                    console.log(error);
                }); 
            },
            getVicePrefeito: function(){
                axios.get('/api/restrito/vice')
                .then(response => {
                    this.vice = response.data                
                })
                .catch(error => {
                    alert(error);
                    console.log(error);
                });  
            },
            getScrul: function(){
                
            }
        }
    }
</script>

<style>
    #card-gestao{
        padding-top: 7%;
        padding-bottom: 7%;
    }

    #card-gestao .tx-gestao{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;        
        font-weight: bold;
    }

    #card-gestao .card .row .text-center{
        padding-bottom: 5%;
    }


    #card-gestao .card .row{
        padding : 3%;
    }
</style>