<<template>
    <div id="card-1" class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 text-center text-light">
                <a href="/diario">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-book fa-4x text-light"></i><br>
                        <p class="font-weight-bold h2 text-light">Diário Oficial</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center text-light -->  

            <div class="col-xl-4 col-lg-4 col-md-4 text-center text-light">
                <a href="https://www.transparencia.brejolandia.ba.gov.br/">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-chart-line fa-4x text-light"></i><br>
                        <p class="font-weight-bold h2 text-light">Transparência 131</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center text-light -->  
        
        <div class="col-xl-4 col-lg-4 col-md-4 text-center text-light">
                <a href="https://brejolandia.saatri.com.br/Inicio" target="plank">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-file-alt fa-4x"></i><br>
                        <p class="font-weight-bold h2 text-light">NF Eletônica</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center text-light -->  
        </div><!-- row -->  
    </div><!-- container -->    
</template>
<script>
    export default {
        
    }
</script>
<style>

    #card-1{
        padding-top: 5%;
        padding-bottom: 2.5%;    
    }

    #card-1 .row .img-thumbnail:hover a{
        text-decoration: none;
    }

    #card-1 .img-thumbnail{
        padding-top: 15%;
        padding-bottom: 10%;
    }
    
    #card-1 .row a{
        text-decoration:none;
    }

    #card-1 .img-thumbnail:hover{                
        opacity: 0.9;
        font-style: italic;        
        cursor: pointer;        
    }
</style>