<<template>
    <div id="card-secretaria" class="container">
        <div class="card">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="cor-texto-padrao tx-secretaria">ORGANOGRAMA</span>
                </div>
            </div>
            <div class="row">                      
                <div class="col-md-7">
                    <div class="" id="modalSecretaria">
                        <div class="card card-body">                                
                            <div class="collapse-header d-flex justify-content-center">
                                <img v-if="estru.url_imagem" :src="'storage/' + estru.url_imagem" class="card-img-top">
                                <img v-else src="imagens/banner/banner-1.jpg" class="card-img-top">
                            </div><!-- modal-header -->
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">{{estru.nome}}</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <label class="card-text font-weight-bold text-body">RESPONSÁVEL</label>
                                        <p class="">{{estru.responsavel}}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <label class="card-text font-weight-bold text-body">ENDEREÇO</label>
                                        <p class="">{{estru.endereco}} - {{estru.cep}}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <label class="card-text font-weight-bold text-body">HORÁRIO DE FUNCIONAMENTO</label>
                                        <p class="">{{estru.hr_funcionamento}}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <label class="card-text font-weight-bold text-body">TELEFONE</label>
                                        <p class="">{{estru.telefone}}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <label class="card-text font-weight-bold text-body">COMPETÊNCIAS</label>
                                        <p class="card-text">{{estru.competencias}}</p>
                                    </li>                                        
                                </ul>
                            </div>                                                       
                        </div>
                    </div>
                </div><!-- col-md-7 -->
                <div class="col-md-5">
                    <div class="d-flex justify-content-start">
                        <ul class="list-group">
                            <div v-for="e in  estrutura">
                                <!-- Validação para o badge -->
                                <div v-if="e.unidades_administrativas == false">
                                    <li class="list-group-item">                                        
                                        <a class="text-uppercase text-body font-weight-bold" data-toggle="collapse" href="#" @click="findEstrutura(e.id)">{{e.nome}}</a>
                                    </li>
                                </div>
                                <div v-else>
                                    <li class="list-group-item">
                                        <a class="text-uppercase text-body font-weight-bold" data-toggle="collapse" :href="'#collapseSecretaria'+e.id" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            {{e.nome}}
                                        </a>
                                        <span class="badge bg-padrao badge-pill">{{e.qt_unidade}}</span>
                                        <div class="collapse" :id="'collapseSecretaria'+e.id" v-for="u in unidade" v-if="e.id == u.id_estrutura_administrativa">
                                            <div class="card card-body">                                                
                                                <a class="text-uppercase cor-texto-padrao font-weight-bold" data-toggle="collapse" href="#" @click="findUnidade(u.id)">{{u.nome}}</a>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <!-- Validação para o badge -->
                            </div>                    
                        </ul>
                    </div><!-- d-flex justify-content-center -->
                </div><!-- col-lx-5 -->  
            </div><!-- row -->
        </div><!-- card -->
    </div><!-- container -->
</template>

<script>
    export default {
        data(){
            return{
                estrutura: [],
                unidade: [],
                estru: [],                
            }
        }, 

        mounted(){
            this.getEstrutura();
            this.getUnidade();
            this.findEstrutura(5);
        },

        methods:{
            getEstrutura: function(){
                this.clearUnidade();
                axios.get('/api/restrito/estruturaadministrativa')
                .then(response => {
                    this.estrutura = response.data;
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                });
            },

            getUnidade: function(){
                axios.get('/api/restrito/unidadeadministrativa')
                .then(response => {
                    this.unidade = response.data;
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                });
            },

            findEstrutura: function($id){                
                var $url = '/api/restrito/estruturaadministrativa/find/' + $id; 
                axios.get($url)
                .then(response => {
                    this.estru = response.data;
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                });
            },

            findUnidade: function($id){
                var $url = '/api/restrito/unidadeadministrativa/find/' + $id;
                axios.get($url)
                .then(response => {
                    this.estru = response.data;
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                });
            },

            clearUnidade: function(){
                this.unidade = [];
            },

            clearEstrutura: function(){
                this.estrutura = [];
            },
        }
    }
</script>

<style>
    #card-secretaria{
        padding-top: 7%;
        padding-bottom: 7%;
    }

    #card-secretaria .tx-secretaria{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;        
        font-weight: bold;
    }

    #card-secretaria .card .row{
        padding : 3%;
    }

    #card-secretaria #modalSecretaria .collapse-header img{
        height: 150px;
        widows: auto;
    }
</style>
