<template>
    <div id="card-diario" class="container-fluid">
        <div class="row">
            <iframe :src="url" frameborder="0" width="100%" height="1025px;"></iframe>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                url: '',
            }
        },

        mounted(){
            //window.addEventListener('scroll', autoScrul);
            this.setUrl();
        },

        methods:{
            autoScrul: function(){
                var $elemnto = window.scrollY;
                console.log($elemnto);
            },

            setUrl: function(){
                let dataAtual = new Date();
                let ano = dataAtual.getFullYear();
                let mes = dataAtual.getMonth() + 1;
                this.url = 'https://impublicacoes.org/agenda/index.php?month=' + mes + '&year=' + ano + '&type=pref&municipio=TWprd05EUXdOdz09';
            },
        }
    }
</script>

<style>
    #card-diario{
        padding-top: 5%;
    } 
</style>
