<template>
    <div class="container-fluid bg_imagem" :style="{'background-image': `url(${bg_imagem})`}">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-start">
                    <div class="col-md-4 d-flex justify-content-start">                        
                        <img src="imagens/logos/logo-2.png" class="stylo-img" alt="Governo de Itapicuru">                        
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end"><br>
                    <form>
                        <fieldset disabled>
                            <div class="input-group mb-3 ajust-head">
                                <input type="text" class="form-control" placeholder="Buscar"  aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-success" type="button" id="button-addon2">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</template>

<script>   
    export default{
        data(){
            return {
                bg_imagem:'../imagens/banner/bg-head-opacity.png',
            }
        }
    }
</script>

<style>
    .entidade{
        font-size: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-bottom: 0%;
    }

    .municipio{
        font-size: 60px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }

    .pnc-head{
        padding-right: 50px;
        padding-left: 50px;
    }

    .ajust-head{
        padding-top: 15%;
    }

    .stylo-img{        
        max-height: 150px;
        padding-bottom: 10%;
    }
</style>
