<<template>
    <div id="previsao-2" class="container">
        <div class="row">            
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xs-4">
                <div id="carouselPrevisao-2" class="carousel slide carousel-fade img-fluid" data-ride="carousel">                    
                    <div class="carousel-inner bg-previsao">
                       <div class="carousel-item active">                            
                            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                <div class="card-body d-flex flex-column align-items-start">
                                    <strong class="d-inline-block mb-2 cor-texto-padrao h4 font-weight-bold">Hoje - {{prev.temp}} ºC</strong>
                                    <h3 class="mb-0">
                                        <p class="text-dark">{{prev.description}}</p>
                                    </h3><br>
                                    <p class="text-previsao">Umidade do ar: {{prev.humidity}} %</p>
                                    <p class="text-previsao">Vento: {{prev.wind_speedy}}</p>
                                    <p class="text-previsao">Pôr do Sol: {{prev.sunset}}</p>                                    
                                </div><!-- card-body d-flex flex-column align-items-start -->
                                <img class="card-img-right" v-if="prev.img_id" :src="'imagens/prev/' + prev.img_id + '.png'">
                            </div><!-- card flex-md-row mb-4 shadow-sm h-md-250-->
                        </div><!-- carousel-item active-->

                        <div class="carousel-item" v-for="px in prox">                            
                            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                <div class="card-body d-flex flex-column align-items-start">
                                    <strong class="d-inline-block mb-2 cor-texto-padrao font-weight-bold">{{px.weekday}} - {{px.date}}</strong>
                                    <h3 class="mb-0">
                                        <p class="text-dark">{{px.description }}</p>
                                    </h3><br>
                                    <p class="text-previsao">Mínima: {{px.min}} ºC</p>
                                    <p class="text-previsao">Máxima: {{px.max}} ºC</p>                                                             
                                </div><!-- card-body d-flex flex-column align-items-start -->
                                <img class="card-img-right" v-if="prev.img_id" :src="'imagens/prev/' + prev.img_id + '.png'">
                            </div><!-- card flex-md-row mb-4 shadow-sm h-md-250-->
                        </div><!-- carousel-item-->

                    </div><!-- carousel-inner -->  
                </div><!-- carousel slide carousel-fade  -->  
                <div class="d-flex justify-content-center">
                    <a class="cor-texto-padrao" href="#carouselPrevisao-2" role="button" data-slide="prev">
                        <i class="fas fa-arrow-circle-left fa-2x"></i>
                    </a>
                    &ensp;
                    <a class="cor-texto-padrao" href="#carouselPrevisao-2" role="button" data-slide="next">
                        <i class="fas fa-arrow-circle-right fa-2x"></i>                     
                    </a>         
                </div><!-- d-flex justify-content-center -->        
            </div><br>
        </div><!-- row -->        
    </div><!-- container-fluid -->
</template>

<script>
    export default {
        data(){
            return{
                nt: [],                
                noticias: [],
                prev: [],
                prox: [],             
            }
        },

        mounted(){
            this.getTempo();
        },

        methods:{ 
            getTempo: function(){
                axios.get('/api/restrito/previsao')
                .then(response => {
                    this.prev = response.data
                    this.prox = response.data["forecast"]                    
                })
                .catch(error => {                
                    console.log(response.data)
                    console.log(error)
                }); 
            },
        }
    }
</script>

<style>
    #previsao-2 #carouselPrevisao-2 img{
        opacity: 0.8;
        height: 250px;
        width: auto;
    }
    #previsao-2 #carouselPrevisao-1 .bg-previsao{
        background-color: #E8E8E8
    }

    #previsao-2 #carouselPrevisao-2 .text-previsao{
        font-family: 'Times New Roman', Times, serif;        
        font-weight: bold;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        color: #1C1C1C;
        text-shadow: #B5B5B5 0.1em 0.1em 0.2em
    }   
</style>
