<<template>
    <div id="previsao-3" class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 card">
                <div id="carouselPrevisao-3" class="weather carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="current" style="background-image: url(../imagens/Banner/Banner-4.jpg)">
                                <div class="info">                            
                                    <p class="city">{{prev.city}}</p>
                                    <p class="temp">{{prev.temp}} ºC</p>
                                    <p class="description-1">{{prev.description}}</p>
                                    <p class="wind">Ventos:{{prev.wind_speedy}}</p>
                                    <p class="sunset">Pôr do Sol: {{prev.sunset}}</p>                            
                                </div>
                                <div class="icon col">
                                    <span class="wi-day-sunny mx-lg-n5 mx-xl-n5 mx-sm-n1">
                                        <img v-if="prev.img_id" :src="'imagens/prev/' + prev.img_id + '.png'">
                                    </span>
                                </div>
                            </div>                            
                        </div>
                        <div class="carousel-item" v-for="(px, index) in prox" v-if="index != 0">
                            <div class="current" style="background-image: url(../imagens/Banner/Banner-4.jpg)">
                                <div class="info">                            
                                    <p class="city">{{prev.city}}</p>
                                    <p class="temp">{{px.weekday}}</p>
                                    <p class="description-2">{{px.description}}</p>                                    
                                    <p class="wind">Max:{{px.max}}</p>
                                    <p class="wind">Mix:{{px.max}}</p>                                    
                                </div>
                                <div class="icon d-md-none d-lg-block col">                                    
                                    <img v-if="px.img_id" :src="'imagens/prev/' + px.img_id + '.png'">                                    
                                </div>
                            </div>    
                        </div>
                    </div>
                    <div class="future">                        
                        <a class="day active" data-target="#carouselPrevisao-3" data-slide-to="0">
                            <p class="font-weight-bold">Hoje</p>
                        </a>
                        <a class="day" v-for="(px, index) in prox" data-target="#carouselPrevisao-3" :data-slide-to="index" v-if="index != 0">
                            <p class="font-weight-bold">{{px.weekday}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return{                
                noticias: [],
                prev: [],
                prox: [],
            }
        },

        mounted(){
            this.getCorPadrao();
            this.getTempo();
        },

        methods:{
            getCorPadrao: function(){
                axios.get('/api/restrito/corpadrao')
                .then(response => {
                    var style = document.createElement('style');
                    style.type = 'text/css';
                    style.innerHTML = '#previsao-3 .weather .current {text-shadow: 1px 1px' +  response.data + '; }' +
                                        '#previsao-3 .weather .future .day:hover {background-color:' + response.data + '; }';
                    document.getElementsByTagName('head')[0].appendChild(style);
                })
                .catch(error => {
                    alert(error);
                    console.log(response.data)
                    console.log(error)
                });
            },
            getTempo: function(){
                axios.get('/api/restrito/previsao')
                .then(response => {
                    this.prev = response.data
                    this.prox = response.data["forecast"]                    
                })
                .catch(error => {                
                    console.log(response.data)
                    console.log(error)
                }); 
            },
        }
        
    }
</script>

<style>
    #previsao-3 .row .card{
        padding-top: 2%
    }    

    #previsao-3 .weather{
        display: flex;
        flex-flow: column wrap;
        box-shadow: 0px 1px 10px 0px #F8F8FF ;
        overflow: hidden;
    }

    #previsao-3 .weather .future .day:hover{
        color: #F8F8FF ;
        
    }

    #previsao-3 .weather .current .info{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;    
        opacity:1;
    }

    #previsao-3 .weather .current{
        background-size: cover;
        background-position: center;
        display: flex;
        flex-flow: row wrap;
        background-repeat: no-repeat;
        color: #F8F8FF;
        padding: 20px;
        opacity: 0.89;        
    }

    #previsao-3 .weather .current .info p{
        margin-right: 0;
        margin-left: 0; 
        margin-top: 0;
        margin-bottom: 0;       
        padding-right: 0;
        padding-left: 0; 
        padding-top: 0;
        padding-bottom: 0;  
    }

    #previsao-3 .weather .current .info .city{
        font-size: 26px;        
    }

    #previsao-3 .weather .current .info .temp{
        font-size: 44px;        
    }

    #previsao-3 .weather .current .info .wind{
        font-size: 20px;        
    }

    #previsao-3 .weather .current .info .sunset{
        font-size: 18px;        
    }

    #previsao-3 .weather .current .info .description-1{
        font-size: 15px;        
    }

     #previsao-3 .weather .current .info .description-2{
        font-size: 10px;        
    }

    #previsao-3 .weather .current .icon{
        text-align: center;
        height: 100px;
        width: 10px;
        flex-grow: 1;        
    }

     #previsao-3 .weather .current .icon img{        
        max-width: 250px;        
        height: auto;
    }

    #previsao-3 .weather .future{
        display: flex;
        flex-flow: row nowrap;        
    }

    #previsao-3 .weather .future .day{
        flex-grow: 1;
        text-align: center;
        cursor: pointer;
    }

    #previsao-3 .weather .future .day p{
        font-size: 10px;
        padding-top: 20%;
    }
</style>