<<template>
    <div id="previsao-1" class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xs-4">
                <div id="carouselPrevisao-2" class="carousel slide carousel-fade img-fluid img-thumbnail" data-ride="carousel">                    
                    <div class="carousel-inner bg-previsao">
                        <div class="carousel-item active">
                            <img v-if="prev.img_id" :src="'imagens/prev/' + prev.img_id + '.png'" class="card-img-top">
                            <div class="carousel-caption">
                                <p class="text-previsao h4">Hoje - {{prev.temp}} ºC</p>
                                <p class="text-previsao h4">{{prev.description}}</p><br>
                                <p class="text-previsao h5">Umidade do ar: {{prev.humidity}} %</p>
                                <p class="text-previsao h5">Vento: {{prev.wind_speedy}}</p>
                                <p class="text-previsao h5">Pôr do Sol: {{prev.sunset}}</p>
                            </div>                            
                        </div>
                        <div class="carousel-item" v-for="px in prox">
                            <img v-if="prev.img_id" :src="'imagens/prev/' + prev.img_id + '.png'" class="card-img-top">
                            <div class="carousel-caption">                            
                                <p class="text-previsao h4">{{px.weekday}} - {{px.date}}</p>
                                <p class="text-previsao h5">{{px.description }}</p>                            
                                <p class="text-previsao h5">Mínima: {{px.min}} ºC</p>
                                <p class="text-previsao h5">Máxima: {{px.max}} ºC</p>                                
                            </div>
                        </div>  
                    </div>                    
                </div><br>
                <div class="d-flex justify-content-center">
                    <a class="cor-texto-padrao" href="#carouselPrevisao-1" role="button" data-slide="prev">
                        <i class="fas fa-arrow-circle-left fa-2x"></i>
                    </a>
                    &ensp;
                    <a class="cor-texto-padrao" href="#carouselPrevisao-1" role="button" data-slide="next">
                        <i class="fas fa-arrow-circle-right fa-2x"></i>                     
                    </a>         
                </div><!-- d-flex justify-content-center -->
            </div>
        </div><!-- row -->
    </div><!-- container -->
</template>

<script>
    export default {
        data(){
            return{
                nt: [],                
                noticias: [],
                prev: [],
                prox: [],             
            }
        },

        mounted(){
            this.getTempo();
        },

        methods:{
 
            getTempo: function(){
                axios.get('/api/restrito/previsao')
                .then(response => {
                    this.prev = response.data
                    this.prox = response.data["forecast"]                    
                })
                .catch(error => {                
                    console.log(response.data)
                    console.log(error)
                }); 
            },
        }
    }
</script>

<style>
    #previsao-1 #carouselPrevisao-1 img{
        opacity: 0.8;
        height: 250px;
        width: auto;
    }
    #previsao-1 #carouselPrevisao-1 .bg-previsao{
        background-color: #E8E8E8
    }

    #previsao-1 #carouselPrevisao-1 .text-previsao{
        font-family: 'Times New Roman', Times, serif;        
        font-weight: bold;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        color: #1C1C1C;
        text-shadow: #B5B5B5 0.1em 0.1em 0.2em
    }   
</style>
