<<template>
    <nav class="mb-1 navbar navbar-expand-lg bg-padrao lighten-1">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"  v-for="menu in menus" v-if="menu.sub_menu == false">
                    <a class="nav-link text-light font-weight-bold h6" v-bind:href="menu.link">{{menu.nome}}</a>
                </li>
                <li class="nav-item dropdown" v-else>
                    <a class="nav-link dropdown-toggle text-light font-weight-bold h6" v-bind:href="menu.link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{menu.nome}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span v-for="sub in sub_menus">
                            <a class="dropdown-item cor-texto-padrao font-weight-bold" v-if="sub.id_menu == menu.id" v-bind:href="sub.link" target="_blank">
                                {{sub.nome}}
                            </a>
                        </span>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle" width="60px">
            </ul>
        </div><!--/.collapse -->
    </nav> <!--/.Navbar -->

</template>

<script>
    export default {
        data(){
            return{
                menus:[],
                sub_menus:[],
            }
        },

        mounted() {
            this.getMenus();
            this.getSubMenus();
            this.getCorPadrao();
        },

        methods: {
            getCorPadrao: function(){
                axios.get('/api/restrito/corpadrao')
                    .then(response => {
                        var style = document.createElement('style');
                        style.type = 'text/css';
                        style.innerHTML = '.bg-padrao { background-color:'+ response.data +'; }' +
                            '.cor-texto-padrao { color:'+ response.data +'; }';
                        document.getElementsByTagName('head')[0].appendChild(style);
                    })
                    .catch(error => {
                        alert(error);
                        console.log(response.data)
                        console.log(error)
                    });
            },
            getMenus: function(){
                axios.get('/api/restrito/menus')
                    .then(response => {
                        this.menus = response.data;
                    })
                    .catch(error => {
                        alert(error);
                        console.log(response.data)
                        console.log(error)
                    });
            },
            getSubMenus: function(){
                axios.get('/api/restrito/submenus')
                    .then(response => {
                        this.sub_menus = response.data;
                    })
                    .catch(error => {
                        alert(error);
                        console.log(response.data)
                        console.log(error)
                    });
            },
        }
    }
</script>

<style scoped>

</style>
