<<template>
    <nav id="navbar-7" class="navbar navbar-expand-lg fixed-top navbar-7-bg-transprarente">
        <button class="navbar-toggler bg-padrao" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <i class="fas fa-align-justify"></i>
        </button>
        <div class="container">
            <div class="row">
                <div id="logo" class="col-xl-2 col-lg-2 col-md-2 d-md-none d-sm-none d-none d-lg-block">
                    <a href="/"><img src="imagens/logos/logo-governo.png" /></a>
                </div>
                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                    <ul class="navbar-nav mx-auto" v-for="menu in menus">
                        <li class="nav-item" v-if="menu.sub_menu == false">
                            <a class="nav-link text-light font-weight-bold" v-bind:href="menu.link">{{menu.nome}}</a>
                        </li>
                        <li class="nav-item dropdown" v-else>
                            <a class="nav-link text-light font-weight-bold dropdown-toggle" v-bind:href="menu.link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{menu.nome}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <span v-for="sub in sub_menus">
                                    <a class="dropdown-item font-weight-bold cor-texto-padrao" v-if="sub.id_menu == menu.id" v-bind:href="sub.link" target="_blank">{{sub.nome}}</a>
                                </span>
                            </div>
                        </li>
                    </ul><!-- v-for menus -->
                </div><!-- collapse -->
            </div><!-- nav -->
        </div><!-- nav -->
    </nav><!-- nav -->
</template>

<script>
    export default {
        data(){
            return{
                menus:[],
                sub_menus:[],
            }
        },

        mounted() {
            this.getMenus();
            this.getSubMenus();
            this.getCorPadrao();
            this.getScrull();
        },

        methods: {
            getCorPadrao: function(){
                axios.get('/api/restrito/corpadrao')
                    .then(response => {
                        var style = document.createElement('style');
                        style.type = 'text/css';
                        style.innerHTML = '.bg-padrao { background-color:'+ response.data +'; }' +
                            '.cor-texto-padrao { color:'+ response.data +'; }';
                        document.getElementsByTagName('head')[0].appendChild(style);
                    })
                    .catch(error => {
                        alert(error);
                        console.log(response.data)
                        console.log(error)
                    });
            },
            getMenus: function(){
                axios.get('/api/restrito/menus')
                    .then(response => {
                        this.menus = response.data;
                    })
                    .catch(error => {
                        alert(error);
                        console.log(response.data)
                        console.log(error)
                    });
            },
            getSubMenus: function(){
                axios.get('/api/restrito/submenus')
                    .then(response => {
                        this.sub_menus = response.data;
                    })
                    .catch(error => {
                        alert(error);
                        console.log(response.data)
                        console.log(error)
                    });
            },
            getScrull: function(){
                $(document).ready(function() {
                    $(window).scroll(function() {
                        if ($(window).scrollTop() > 250) {
                            $(".navbar").addClass("navbar-7-remove-transprarente");
                        } else {
                            $(".navbar").removeClass("navbar-7-remove-transprarente");
                        }
                    });
                    $(".navbar-toggler").click(function() {
                        if (!$(".navbar-collapse").hasClass("show")) {
                            $(".navbar").addClass("navbar-7-remove-transprarente");
                        } else {
                            if ($(window).scrollTop() < 250) {
                                $(".navbar").removeClass("navbar-7-remove-transprarente");
                            } else {
                            }
                        }
                    });
                });
            },
        }
    }
</script>

<style>
    .navbar-7-bg-transprarente{
        background-color:rgba(0, 0, 0, 0.3);
    }

    .navbar-7-remove-transprarente{
        background-color:rgba(0, 0, 0, 0.7);
    }
    
    #navbar-7 #logo a img{        
        width: 90%;
    }
</style>
