<<template>
    <nav class="navbar navbar-expand-lg bg-padrao">
        <a class="navbar-brand" href="#">
            <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="mdb logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"  v-for="menu in menus" v-if="menu.sub_menu == false">
                    <a class="nav-link text-light font-weight-bold h6" v-bind:href="menu.link">{{menu.nome}}</a>
                </li>
                <li class="nav-item dropdown" v-else>
                    <a class="nav-link dropdown-toggle text-light font-weight-bold h6" v-bind:href="menu.link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{menu.nome}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span v-for="sub in sub_menus">
                            <a class="dropdown-item cor-texto-padrao font-weight-bold" v-if="sub.id_menu == menu.id" v-bind:href="sub.link" target="_blank">
                                {{sub.nome}}
                            </a>
                        </span>
                    </div>
                </li>
            </ul><!-- v-for menus -->
            <form class="form-inline">
                <div class="input-group mb-3 d-flex">
                    <input type="text" class="form-control" placeholder="PALAVRA-CHAVE" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">PESQUISAR</button>
                    </div>
                </div>
            </form>
        </div><!-- Collapsible content -->
    </nav> <!--/.Navbar-->
</template>

<script>
    export default {
        data(){
            return{
                menus:[],
                sub_menus:[],
            }
        },

        mounted() {
            this.getMenus();
            this.getSubMenus();
            this.getCorPadrao();
        },

        methods: {
            getCorPadrao: function(){
                axios.get('/api/restrito/corpadrao')
                    .then(response => {
                        var style = document.createElement('style');
                        style.type = 'text/css';
                        style.innerHTML = '.bg-padrao { background-color:'+ response.data +'; }' +
                            '.cor-texto-padrao { color:'+ response.data +'; }';
                        document.getElementsByTagName('head')[0].appendChild(style);
                    })
                    .catch(error => {
                        alert(error);
                        console.log(response.data)
                        console.log(error)
                    });
            },
            getMenus: function(){
                axios.get('/api/restrito/menus')
                    .then(response => {
                        this.menus = response.data;
                    })
                    .catch(error => {
                        alert(error);
                        console.log(response.data)
                        console.log(error)
                    });
            },
            getSubMenus: function(){
                axios.get('/api/restrito/submenus')
                    .then(response => {
                        this.sub_menus = response.data;
                    })
                    .catch(error => {
                        alert(error);
                        console.log(response.data)
                        console.log(error)
                    });
            },
        }
    }
</script>

<style scoped>

</style>
